<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rrbot_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>rrbot_cam/RRBotSystemPositionOnlyHardware</plugin>
        <param name="serial_device_port">/dev/ttyUSB0</param>
        <param name="communication_baud_rate">57600</param>
        <param name="communication_timeout_ms">1000</param>
      </hardware>

      <joint name="${prefix}joint1">
        <command_interface name="position">
          <param name="min">0.0</param>
          <param name="max">${pi}</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${prefix}joint2">
        <command_interface name="position">
          <param name="min">${radians(10)}</param>
          <param name="max">${radians(90)}</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
